$gray-base:              #000 !default;
$gray-darker:            rgb(85, 87, 91) !default; // #55575b
$gray-dark:              rgb(119, 121, 124) !default; // #77797c
$gray:                   rgb(153, 154, 157) !default; // #999a9d
$gray-light:             rgb(187, 188, 189) !default; // #bbbcbd
$gray-lighter:           rgb(218, 217, 215) !default; // #dad9d7

$brand-primary:         rgb(0, 58, 93) !default; // #003a5d
$brand-secondary:       rgb(0, 161, 224) !default; // #00a1e0
$brand-success:         rgb(0, 140, 0) !default; // #008c00
$brand-info:            $brand-secondary !default; // #00a1e0
$brand-warning:         rgb(255, 255, 200) !default;
$brand-danger:          rgb(255, 220, 220) !default;

.bg-warning {
    background-color: $brand-warning !important;
}
.bg-danger {
    background-color: $brand-danger !important;
}

