<h2>My Heroes</h2>
<ul class="heroes">
    <li *ngFor="let hero of heroes"
        [class.selected]="hero == selectedHero"
        (click)=onSelect(hero) >
        <span class="badge">{{hero.id}}</span> {{hero.name}}
        <button class="delete" (click)="deleteHero(hero.id); $event.stopPropagation()" >X</button>
    </li>
</ul>
<div>
    <h3>New Hero</h3>
    <label>Name: </label><input #newHeroName placeholder="Hero Name" />
    <button (click)="addHero(newHeroName.value)" >Add</button>
</div>
<div *ngIf="selectedHero" >
    <h2>
        {{selectedHero.name | uppercase}} is my hero
    </h2>
    <button (click)="goToDetail()" >View Details</button>
</div>